{% extends 'layout.twig' %}

{% block content %}
    <section class="home__articles" aria-label="{{ __('Last articles') }}">
        <div class="home__article home__article--last">
            {% include 'article-overview.twig' with {'post': last} %}
        </div><!-- .home__article -->
        <div class="home__article home__article--left">
            {% include 'article-overview.twig' with {'post': left} %}
            <button class="home__category-button">{{ meta.category_left_button }}</button>
        </div><!-- .home__article -->
        <div class="home__article home__article--right">
            {% include 'article-overview.twig' with {'post': right} %}
            <button class="home__category-button">{{ meta.category_right_button }}</button>
        </div><!-- .home__article -->
    </section><!-- .home__articles -->
{% endblock %}
