/**
 * Project variables file
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


/******************************************
 * Typeface and font sizes configurations *
 ******************************************/

/** Font stacks **/
$font-headings:             "DIN Next W04", Helvetica, sans-serif;
$font-body:                 -apple-system, ".SFNSText-Regular", "San Francisco", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-content:              'Merriweather', Georgia, Cambria, "Times New Roman", Times, serif;
$font-code:                 Courier, monospace;
$font-quotes:               Garamont, serif;

/** Font sizes **/
$font-size:                 1.6rem;
$font-size-big-titles:      2.6rem;
$font-size-med-titles:      2.2rem;
$font-size-small-titles:    2rem;
$font-size-small-text:      1.5rem;
$font-size-smaller:         1.3rem;
$font-size-smallest:        1.2rem;
$line-height-body:          1.65;
$line-height-smaller:       1.42;
$line-height-headings:      1.2;
$line-height-unit:          1;
$headings-size: (           "h1": 3.2rem,
                            "h2": 2.85rem,
                            "h3": 2.3rem,
                            "h4": 2rem,
                            "h5": 1.8rem,
                            "h6": 1.5rem);
$headings-ratio:            0; // ratio override $h[1-4]-size if > 0
$font-small-ratio:          .85;


/************************
 * Colors configuration *
 ************************/

/** Generic colors **/
$base-color:                #222;
$base-color-light:          #555;
$title-color:               #111;
$main-title-color:          #333;
$base-color-invert:         #fff;
$light-color:               rgba(0, 0, 0, .6);
$caption-color:             $light-color;

/** Navigation colors **/
$navigation-color:          $light-color;
$navigation-hover-color:    $main-title-color;
$navigation-current-color:  $title-color;

/** Brand colors **/
$primary-color:             #cc0000;
$primary-color-dark:        #44070a;
$primary-color-light:       #c35055;
$secondary-color:           #e97117;
$secondary-color-dark:      darken($secondary-color, 10%);
$secondary-color-light:     lighten($secondary-color, 10%);
$tertiary-color:            #000;
$tertiary-color-dark:       #000;
$tertiary-color-light:      #000;

/** Link colors **/
$link-color:                $primary-color;
$link-hover-color:          $primary-color-dark;
$link-visited-color:        $primary-color;
$nav-link-color:            $base-color;

/** Backgrounds colors **/
$base-background:           #fff;
$primary-background:        #f9f9f9;
$secondary-background:      #f3f4f5;
$tertiary-background:       #fff;
$code-background:           #000;

/** Misc colors **/
$error-color:               #C00;
$warning-color:             #FC0;
$valid-color:               #0C0;
$info-color:                #00C;
$code-color:                #fff;
$border-color:              #555;


/**********************************************
 * Spacings (margins, paddings, borders, etc) *
 **********************************************/

/** Default spacings **/
$pixel-value:               .1rem;
$double-value:              .2rem;
$tiny-value:                .5rem;
$tiny-plus-value:           .7rem;
$unit-value:                1rem;
$small-value:               1.5rem;
$small-plus-value:          2rem;
$medium-value:              3rem;
$medium-plus-value:         4rem;
$demi-decimal-value:        5rem;
$large-value:               6rem;
$large-plus-value:          8rem;
$decimal-value:             10rem;
$xl-value:                  12rem;
$xl-plus-value:             14rem;
$xxl-value:                 16rem;
$xxl-plus-value:            18rem;
$double-decimal-value:      20rem;
$container-small-value:     45rem;
$container-medium-value:    55rem;
$container-large-value:     65rem;
$container-content-value:   75rem;

/** Project custom spacings **/
$border-size:               $small-plus-value;
$radius-small:              $double-value;
$radius-base:               $tiny-value;
$radius-large:              $unit-value;
$radius-circle:             50%;
$container-padding:         $demi-decimal-value;
$column-padding:            $small-plus-value;
$section-padding:           $decimal-value;
$sidebar-width:             20%;

/** Misc spacings **/
$codeblock-maxheight:       $double-decimal-value;


/***************
 * Transitions *
 ***************/

$transition-base:           .2s ease;
$transition-long:           .5s ease;


/***********
 * Borders *
 ***********/

$border-light:              $pixel-value solid rgba($main-title-color, .1);


/*******************
 * Container width *
 *******************/

$container-width: (
  begin: 95%,
  small-plus: 90%,
  med-plus: 1000px,
  large: 1200px,
  large-plus: 1400px,
);


/***************
 * Breakpoints *
 ***************/

$breakpoints: (
  begin:        0,
  tiny:         320px,
  tiny-plus:    480px,
  small:        640px,
  small-plus:   768px,
  med:          960px,
  med-plus:     1024px,
  large:        1280px,
  large-plus:   1440px,
  xl:           1600px,
  xl-plus:      1920px,
);
