/**
 * Article component stylesheet
 *
 * Component root selector: .article
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


.article {
  &__aside,
  &__header {
    max-width: $container-large-value;
    text-align: center;
  }

  &__aside {
    margin: $small-value auto $decimal-value;
    color: $light-color;
    font-size: $font-size-smaller;
    letter-spacing: .15em;
    text-align: center;
    text-transform: uppercase;
  }

  &__comments {
    &::before {
      content: '•';
    }
  }

  &__content {
    margin: $medium-value auto;
    font-size: 1.8rem;

    & p {
      margin: 0 auto 1.6em;
      max-width: 90%;

      @include breakpoint('med') {
        max-width: $container-content-value;
      }
    }
  }

  &__footer {
    margin-top: $demi-decimal-value;
  }

  &__header {
    margin: $xl-value auto $small-value;
  }

  &__thumbnail {
    margin: 0 auto $medium-value;
  }

  &__title {
    font-weight: 500;
  }
}
