/**
 * Article overview block stylesheet
 *
 * @author Damien Senger <damien@raccoon.studio>
 */

.article-overview {
  display: flex;
    align-items: flex-start;
  margin-bottom: $column-padding;

  .home &:first-of-type {
    flex-direction: column;
    margin-bottom: $medium-plus-value;

    & .article-overview__thumbnail {
      margin: 0;
      width: 100%;
    }

    & .article-overview__header {
      margin: 0 auto;
      width: 85%;
    }

    & .article-overview__tags {
      justify-content: center;
      margin-top: $small-value;
    }

    & .article-overview__title {
      font-size: 3.5rem;
      text-align: center;
    }
  }
}

.article-overview__thumbnail {
  margin: 0;
  margin-right: $column-padding;
  width: 30%;

  & a {
    transition: opacity $transition-long;

    &:focus,
    &:hover {
      opacity: .85;
    }

    & img {
      height: auto;
      width: 100%;
    }
  }
}

.article-overview__header {
  flex: 1;
}

.article-overview__tags {
  display: flex;
  margin: 0;
  margin-bottom: $tiny-plus-value;
  padding: 0;
  list-style: none;
}

.article-overview__tag {
  font-size: $font-size-smallest;
  letter-spacing: .1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $transition-base;

  &:not(:first-child) {
    margin-left: $small-value;
  }
}

.article-overview__title {
  font-family: DIN Next LT W04 Medium;
  font-size: $font-size-big-titles;
  margin: 0 auto $small-value;

  & a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-overview__excerpt,
.article-overview__infos {
  display: none;
}
