/**
 * Article overview block stylesheet
 *
 * Component root selector: .article-overview
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


.article-overview {
  display: flex;
    align-items: flex-start;
  margin-bottom: $column-padding;

  &__excerpt,
  &__infos {
    display: none;
  }

  &__excerpt {
    margin: auto;
    margin-bottom: $small-value;
    max-width: $container-medium-value;
    text-align: center;

    @include breakpoint('med-plus') {
      display: block;
    }
  }

  &__infos {
    justify-content: center;
    color: $light-color;
    font-size: $font-size-smaller;
    letter-spacing: .1em;
    text-transform: uppercase;

    @include breakpoint('med-plus') {
      display: flex;
    }
  }

  &__header {
    flex: 1;
  }

  &__tag {
    font-size: $font-size-smallest;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-base;

    &:not(:first-child) {
      margin-left: $small-value;
    }

    & a {
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__tags {
    display: flex;
    margin: 0;
    margin-bottom: $tiny-plus-value;
    padding: 0;
    color: $base-color-light;
    list-style: none;
  }

  &__thumbnail {
    margin: 0;
    margin-right: $column-padding;
    width: 30%;

    & a {
      transition: opacity $transition-long;

      & img {
        height: auto;
        width: 100%;
      }
    }
  }

  &__title {
    color: $title-color;
    font-family: $font-headings;
    font-size: $font-size-big-titles;
    margin: 0 auto $small-value;

    & a {
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $primary-color;
      }
    }
  }
}


/**
 * Homepage first article overview block specific styles
 */

.home__article--last .article-overview {
  flex-direction: column;
  margin-bottom: $medium-plus-value;
  padding-bottom: $medium-value;
  border-bottom: $border-light;

  & .article-overview {
    &__header {
      margin: 0 auto;
      width: 85%;
    }

    &__tags {
      justify-content: center;
      margin-top: $small-value;
    }

    &__thumbnail {
      margin: 0;
      width: 100%;
    }

    &__title {
      font-size: 2.5rem;
      text-align: center;

      @include breakpoint('med-plus') {
        font-size: 3.5rem;
      }
    }
  }
}
