/**
 * Header template part stylesheet
 *
 * @author Damien Senger <damien@raccoon.studio>
 */

.banner {
  border-bottom: $pixel-value solid rgba($main-title-color, .1);
}

.banner__container {
  display: flex;
    justify-content: space-between;
    align-items: center;
  margin: 0 auto;
  min-height: $demi-decimal-value;
  padding: $tiny-value $unit-value;
}

.banner__title h1 {
  margin-top: 0;
}

.banner__title a {
  color: $base-color;
  text-decoration: none;
  transition: color $transition-base;

  &:hover,
  &:focus {
    color: $base-color-light;
  }
}

.banner__nav.navigation {
  display: none;

  @include breakpoint('tiny-plus') {
    &.banner__nav--social {
      display: flex;
    }
  }

  @include breakpoint('med-plus') {
    display: flex;
  }
}
