/**
 * Navigation stylesheet
 *
 * Component root selector: .navigation
 *
 * @author Damien Senger <damien@raccoon.studio>
 */


.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item:not(:first-child) {
    margin-left: $column-padding;
  }

  &__link,
  &__link:visited {
    color: $light-color;
    font-size: $font-size-smaller;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-base;

    &:hover,
    &:focus {
      color: $base-color;
    }
  }
}
